@using VecozoWeb.Models
@model LeidinggevendenVM
@{
    ViewData["Title"] = "Index";
}

<h1>Medewerkers Overzicht</h1>
<br />
<body>
    <div>
        <input id="myInput" />
        <table class="table table-hover table-borderless table-striped" id="medewerkersTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)" scope="col">Naam</th>
                    <th onclick="sortTable(1)" scope="col">Vaardigheid</th>
                    <th onclick="sortTable(2)" scope="col">Team</th>
                    <th onclick="sortTable(3)" scope="col">Rating</th>
                </tr>
            </thead>
            <tbody id="myList">
                @foreach (MedewerkerVM m in Model.Medewerkers)
                {
                    foreach (RatingVM v in m.Ratings)
                    {
                        <tr>
                            <td><a asp-action="MedewerkerOverzicht" asp-route-mwid="@m.UserID">@m.GetFullName()</a></td>
                            <td>@v.Vaardigheid.Naam</td>
                            <td>@m.MijnTeam?.Kleur</td>
                            <td>
                                @for (int i = 0; i < v.Score; i++)
                                {
                                    <span class="fa fa-star checked"></span>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>




